@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
    overscroll-behavior: none;
}

body {
    color: black;
    background: #f0f4ed;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}


.leaflet-popup-content-wrapper {
    background: #f0f4ed !important;
}
